@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  color: white;
  background: black;
}

a {
  text-decoration: none;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

main > div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  scroll-snap-align: start;
}

.hero-img > img {
  border-radius: 50%;
}

.hero-text > p {
  margin: 20px 0;
}

.stack > h2,
.links > h2 {
  margin-bottom: 30px;
}

.stack > .technologies {
  max-width: 450px;
}

.stack > .technologies img,
.links a {
  margin: 2px;
}

@keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}