@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  color: white;
  background: black;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

main > div:not(.copyright):not(.to-top) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  scroll-snap-align: start;
}

.hero {
  position: relative;
}

.menu {
  position: absolute;
  top: 20px;
}

.menu > a {
  margin: 0 5px;
}

.hero-img > img {
  border-radius: 50%;
}

.hero-text > p {
  margin: 20px 0;
}

.stack > h2,
.links > h2 {
  margin-bottom: 30px;
}

.stack > .technologies {
  max-width: 450px;
}

.stack > .technologies img,
.links a {
  margin: 2px;
}

.copyright {
  position: absolute;
  left: -50px;
  bottom: 100px;
  transform: rotate(90deg);
}

.to-top-hidden {
  opacity: 0 !important;
}

.to-top {
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms;
}

.copyright a {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}